#ColorCodingDialog .element-field {
    display: inline-block;
}

#ColorCodingDialog .keystroke-record-button {
    margin-top: 20px;
}

#ColorCodingDialog .record-icon {
    margin-right: 5px;
    color: red;
}

#ColorCodingDialog .error-message {
    margin: 5px;
    color: red;
}