#DraggingElement {
    position: absolute;
    z-index: 2000;
    opacity: 100%;
    pointer-events: 'none';
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 10px;
    text-align: center;
    background:#e7ddff;
    margin-bottom: 5px;
}
  
#DraggingElement .content {
    max-width: 400px;
    max-height: 600px;
    padding: 10px;
    overflow: hidden;
}

#DraggingElement .el-name {
    display: inline-block;
    user-select: none;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 4px;
}