.EditorGutter .markers {
    margin-left: 8px;
    overflow: hidden;
}

.EditorGutter .markers.thin {
    margin-right: 24px;
}

.EditorGutter .markers.thick {
    margin-right: 100px;
}

.EditorGutter .marker {
    position: absolute;
    min-width: 6px;
}

.EditorGutter .marker {
    background:#e7ddff;
    border: 1px solid #ccc;
}

.EditorGutter .marker.highlighted {
    background: yellow;
}

.EditorGutter .marker.col1 {
    margin-left: 12px;
}

.EditorGutter .thick .marker.col1 {
    margin-left: 26px;   
}

.EditorGutter .thin .marker.col1 {
    margin-left: 10px;   
}

.EditorGutter .el-name {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}
