.EditorGutter .markers {
    margin-left: 8px;
    overflow: hidden;
    font: 12pt sans-serif;
}

.EditorGutter .marker {
    position: absolute;
    min-width: 10px;
}

.EditorGutter .marker {
    background:#e7ddff;
    border: 1px solid #ccc;
}

.EditorGutter .marker.highlighted {
    background: yellow;
}

.EditorGutter .el-name {
    display: inline-block;
    user-select: none;
    margin-top: 2px;
    margin-left: 4px;
    margin-right: 4px;
}
