.EditorGutter {
    margin-left: 8px;
    margin-right: 16px;
    overflow: hidden;
}

.EditorGutter .marker {
    position: absolute;
    min-width: 6px;
}

.EditorGutter .marker {
    background:#e7ddff;
}

.EditorGutter .marker.highlighted {
    background: yellow;
    border: 1px solid black;
}
