#ElementMenu .element-menu-popup {
    z-index: 1500;
}

#ElementMenu .menu-item {
    width: 180px;
}

.element-menu-name {
    padding-left: 10px;
}

#ElementMenu .menu-chevron {
    position: absolute;
    right: 10px;
}