#ElementTree .tree-view {
    padding: 10px;
}

#ElementTree .header {
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
}

#ElementTree .grab-handle {
    color: gray;
    margin-right: 10px;
    margin-left: 10px;
}

#ElementTree .add-group-button {
    margin-top: 10px;
}

#ElementTree .element-item {
    margin-top: 5px;
}

#ElementTree .drop-zone {
    min-width: 150px;
    min-height: 20px;
}