#ElementTree .tree-view {
    padding: 10px;
}

#ElementTree .header {
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
}

#ElementTree .landing-pad {
    min-height: 25px;
}

#ElementTree .hover-over {
    margin: 2px;
    border-radius: 5px;
    border: 1px dashed black;
}

#ElementTree .grab-handle {
    color: gray;
    margin-right: 10px;
    margin-left: 10px;
}

#ElementTree .add-group-button {
    margin-top: 10px;
}