#FacsIndex .facs-index-list {
    margin-left: 5px;
    margin-top: 60px;
}


#FacsIndex .table-container {
    height: calc(100vh - 210px);
}

#FacsIndex .facs-index-container-with-bar .table-container {
    height: calc(100vh - 260px);
}

#FacsIndex .row-selected {
    background: #FFF9DD;
}

#FacsIndex .toolbar-button {
    margin-left: 10px;
}

#FacsIndex .grab-handle {
    color: gray;
    margin-left: 10px;
}

#FacsIndex .toggle-all-gap {
    margin-left: 20px;
}