
#FacsEditor .titlebar {
    background: #0086C0;
    color: white;
    padding: 10px;
    height: 42px;
}

#FacsEditor .titlebar h1 {
    padding-top: 5px;
}

#FacsEditor .top-bar {
    position: absolute;
    width: 100%;
    z-index: 800;
    top: 62px;
    border-bottom: 1px solid gray;
    background: white;
}

#FacsEditor .bottom-bar {
    position: absolute;
    z-index: 800;
    bottom: 0px;
    opacity: 0.8;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}