#FacsIndex .facs-index-list {
    margin-left: 5px;
    margin-top: 44px;
}

#FacsIndex .top-bar {
    padding-left: 10px;
}

#FacsIndex .table-container {
    height: calc(100vh - 160px);
}

#FacsIndex .row-selected {
    background: #FFF9DD;
}