#KeyBindingDialog .element-field {
    display: inline-block;
}

#KeyBindingDialog .keystroke-record-button {
    margin-top: 20px;
}

#KeyBindingDialog .record-icon {
    margin-right: 5px;
    color: red;
}