#KeyBindingsTable {
    margin: 20px;
}

#KeyBindingsTable .explanation {
    margin-bottom: 50px;
}

#KeyBindingsTable th {
    font-weight: bold;
}

#KeyBindingsTable .add-keybinding-button {
    margin-top: 10px;
}