#LicenseWindow .header {
    margin: 20px;
}

#LicenseWindow h1 {
    margin-left: 20px;
    margin-bottom: 20px;
}

#LicenseWindow .content {
    margin: 12px;
    background: #F8F5FF;
    padding: 5px;
    padding-top: 15px;
    border-radius: 10px;
}

#LicenseWindow .license-field {
    margin-left: 20px;
    margin-bottom: 10px;
}

#LicenseWindow .word-field {
    width: 90px;
    display: inline-block;
    background: white;
}

#LicenseWindow input {
    text-transform: uppercase;
}

#LicenseWindow .dash {
    margin: 5px;
    margin-top: 10px;
    display: inline-block;
}

#LicenseWindow .action-button {
    margin-right: 10px;
}

#LicenseWindow .browse-button {
    margin-top: 10px;
    margin-left: 10px;
}

#LicenseWindow .form-actions {
    margin-left: 430px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#LicenseWindow .left-side {
    width: 40%;
    height: 300px;
    margin-top: 30px;
}

#LicenseWindow .right-side {
    width: 40%;
    height: 300px;
    padding-left: 20px;
    border-left: 3px solid gray;
}

#LicenseWindow button {
    background: white;
}

#LicenseWindow .save-button-active {
    background: #1976d2;
    margin-right: 10px;
}

#ProjectVersion .quit-button {
    float: right;
}