
#MainWindowStatusBar { 
    top: auto;
    background: #0086C0;
    bottom: 0px;
}

#MainWindowStatusBar .bar {
    padding: 10px; 
}

#MainWindowStatusBar .version-button {
    float: right;
}

#MainWindowStatusBar .version-button i {
    margin-right: 5px;
}

#MainWindowStatusBar .feedback-button {
    margin-top: 5px;
    float: right;
}

