

.attributePanel  {
    border: 1px solid #ddd;
    margin-top: 3px;
    margin-left: 40px;
}

#ParameterDrawer .header {
    padding: 5px;
    background: #ffea8a;
}

#ParameterDrawer .attribute-list {
    background: #FFF9DD;
    padding: 10px;
    max-height: 300px;
    overflow-y: scroll;
}

#ParameterDrawer .legend-box {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 30px;
    border-radius: 25px;
    height: 30px;
    border: 2px solid gray;
}

#ParameterDrawer .element {
    margin-bottom: 20px;
}

#ParameterDrawer .attributeSelectField {
    min-width: 300px;
}

#ParameterDrawer .attrTextField {
    min-width: 300px;
    margin: 10px;
}

#ParameterDrawer .attributeFields {
    display: flex;
    flex-wrap: wrap;
}