

.attributePanel  {
    border: 1px solid #ddd;
    margin-top: 3px;
    margin-left: 40px;
}

.attribute-info-popper {
    max-width: 250px;
    padding: 10px;
}

.attr-description {
    padding-bottom: 5px;
}

.attr-data-type {
    padding-top: 5px;
    border-top: 1px solid gray;
    font-style: italic;
}

#ParameterDrawer .header {
    padding: 5px;
    background: #ffea8a;
}

#ParameterDrawer .attribute-list {
    background: #FFF9DD;
    padding: 10px;
    max-height: 300px;
    overflow-y: scroll;
}

#ParameterDrawer .legend-box {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 30px;
    border-radius: 25px;
    height: 30px;
    border: 2px solid gray;
}

#ParameterDrawer .element {
    margin-bottom: 20px;
}

#ParameterDrawer .attributeSelectField {
    min-width: 300px;
}

#ParameterDrawer .attrTextField {
    display: flex;
    min-width: 300px;
    margin: 10px;
}

#ParameterDrawer .attr-info-button {
    padding-top: 20px;
}

#ParameterDrawer .attributeFields {
    display: flex;
    flex-wrap: wrap;
}

.vocab-name-field {
    margin-bottom: 20px;
}

.vocab-add-row {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
}