#ParameterDrawer {
    font-family: Arial, Helvetica, sans-serif;
    border-top: 1px solid black;
}

.attributePanel  {
    border: 1px solid #ddd;
    margin-top: 3px;
    margin-left: 40px;
}

#ParameterDrawer .header {
    padding: 5px;
    background: #ffea8a;
}

#ParameterDrawer .attribute-list {
    margin: 10px;
}

#ParameterDrawer .legend-box {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 30px;
    border-radius: 25px;
    height: 30px;
    border: 2px solid gray;
}

#ParameterDrawer .element {
    margin-bottom: 20px;
}

.attributeSelectField {
    min-width: 300px;
}

.attrTextField {
    min-width: 300px;
    margin: 10px;
}

.attributeFields {
    display: flex;
    flex-wrap: wrap;
}