#PopupMenu .popup {
    z-index: 1000;
}

#PopupMenu .menu-item {
    min-width: 140px;
}

#PopupMenu .search-result-label {
    display: flex;
    flex-wrap: nowrap;
}

#PopupMenu .hit-chip {
    margin-left: 5px;
}

#PopupMenu .popup {
    margin-bottom: 20px;
}