/* This is a sample stylesheet for use with CETEIcean. It is not intended    */
/* to be comprehensive. The rules here are largely derived from earlier work */
/* on TEI Boilerplate                                                        */

/* language support */
/* render Arabic, Persian, Ottoman, Hebrew  as rtl */
#PreviewWindow [lang = "ar"],
[lang = "ota"],
[lang = "fa"],
[lang = "he"],
[lang *="-Arab-AR"]{
    direction:rtl;
    text-align:right;
}
/* display latin scripts as ltr  */
#PreviewWindow [lang = "en"],
[lang = "fr"],
[lang = "de"],
[lang = "it"],
[lang *="ar-Latn-"],
[lang *="ota-Latn-"]{
    direction:ltr;
    text-align:left;
}

/* Choice elements */
#PreviewWindow tei-choice tei-abbr + tei-expan:before,
tei-choice tei-expan + tei-abbr:before,
tei-choice tei-sic + tei-corr:before,
tei-choice tei-corr + tei-sic:before,
tei-choice tei-orig + tei-reg:before,
tei-choice tei-reg + tei-orig:before {
  content: " (";
}
#PreviewWindow tei-choice tei-abbr + tei-expan:after,
tei-choice tei-expan + tei-abbr:after,
tei-choice tei-sic + tei-corr:after,
tei-choice tei-corr + tei-sic:after,
tei-choice tei-orig + tei-reg:after,
tei-choice tei-reg + tei-orig:after {
  content: ")";
}
/* A */
#PreviewWindow tei-ab {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
#PreviewWindow tei-accMat {
  display: block;
}
#PreviewWindow tei-accMat:before {
  content: "accompanying materials: ";
}
#PreviewWindow tei-acquisition {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
#PreviewWindow tei-acquisition:before {
  font-weight: bold;
  content: "acquisition";
}
#PreviewWindow tei-activity {
  display: block;
}
#PreviewWindow tei-activity:before {
  content: "activity: ";
}
#PreviewWindow tei-add[place=above] {
  color: blue;
  vertical-align: super;
  font-size: 10pt;
}
#PreviewWindow tei-add[place=inline]:before {
  content: "«";
}
#PreviewWindow tei-add[place=inline]:after {
  content: "»";
}
#PreviewWindow tei-add[place=below] {
  vertical-align: sub;
}
#PreviewWindow tei-additional {
  display: block;
}
#PreviewWindow tei-additions {
  display: block;
}
#PreviewWindow tei-additions:before {
  content: "Significant additions within the document: ";
}
#PreviewWindow tei-addrLine {
  display: block;
}
#PreviewWindow tei-address[data-tei-rend~="block"], addresss[data-tei-rendition~="#block"] {
  display: block;
}
#PreviewWindow tei-adminInfo {
  display: block;
}
#PreviewWindow tei-app tei-note {
  display: none;
}
#PreviewWindow tei-appInfo {
  display: block;
}
#PreviewWindow tei-appInfo:before {
  content: "Application information: ";
}
#PreviewWindow tei-application {
  display: block;
}
#PreviewWindow tei-application:after {
  content: " " attr(version);
}
#PreviewWindow tei-argument {
  display: block;
}
#PreviewWindow tei-att {
  font-family: Courier,monospace;
}
#PreviewWindow tei-att:before {
  content: "@";
}
#PreviewWindow tei-titlestmt > tei-author {
  display: block;
  margin-bottom: 1em;
}
#PreviewWindow tei-publicationstmt > tei-availability {
  font-size: 80%;
}
#PreviewWindow tei-publicationstmt > tei-availability:before {
  font-weight: bold;
  content: "Availability: ";
}
#PreviewWindow tei-publicationstmt > tei-availability[data-tei-status]:before {
  font-weight: bold;
  content: "Availability (" attr(status) "): ";
}
/* B */
#PreviewWindow tei-back {
  display: block;
}
#PreviewWindow tei-bibl[data-tei-rend~="block"], bibl[data-tei-rendition~="#block"] {
  display: block;
  padding-left: 2em;
  text-indent: -2em;
}
#PreviewWindow tei-biblFull {
  display: block;
}
#PreviewWindow tei-binding {
  display: block;
}
#PreviewWindow tei-binding:before {
  content: "Binding: \a";
  white-space: pre-wrap;
}
#PreviewWindow tei-binding[data-tei-contemporary]:before {
  content: "Binding: \A" "Contemporary: " attr(contemporary) "\A";
  white-space: pre-wrap;
}
#PreviewWindow tei-bindingdesc {
  display: block;
}
#PreviewWindow tei-bindngdesc:before {
  content: "Binding description: \A";
}
#PreviewWindow tei-birth {
  display: block;
}
#PreviewWindow tei-birth:before {
  content: "Birth: ";
}
/* c */
#PreviewWindow tei-cRefPattern {
  display: none;
}
#PreviewWindow tei-caption {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
#PreviewWindow tei-case[data-tei-value]:before {
  font-weight: bold;
  content: attr(value) " ";
}
#PreviewWindow tei-castgroup {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
#PreviewWindow tei-castitem {
  display: list-item;
}
#PreviewWindow tei-castlist {
  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
}
#PreviewWindow tei-cb {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
#PreviewWindow tei-cb:before {
  content: "[column break]";
}
#PreviewWindow tei-cell {
  border-right: thin solid black;
  border-bottom: thin solid black;
  padding: 2px;
}
/* for cell or row with @role = label */
#PreviewWindow tei-cell[data-tei-role=label] {
  font-weight: bold;
}
#PreviewWindow tei-climate {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
#PreviewWindow tei-climate:before {
  font-weight: bold;
  content: "Climate: ";
}
#PreviewWindow tei-code {
  font-family: Courier,monospace;
}
#PreviewWindow tei-collation {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
#PreviewWindow tei-condition {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
#PreviewWindow tei-constitution {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
#PreviewWindow tei-constitution:before {
  font-weight: bold;
  content: "Constitution: ";
}
#PreviewWindow tei-constitution[data-tei-type] {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
#PreviewWindow tei-constitution[data-tei-type]:before {
  font-weight: bold;
  content: "Constitution (" attr(type) "): ";
}
#PreviewWindow tei-constitution[data-tei-type=frags] {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
#PreviewWindow tei-constitution[data-tei-type=frags]:before {
  font-weight: bold;
  content: "Constitution (fragments): ";
}
#PreviewWindow tei-custevent {
  display: list-item;
}
#PreviewWindow tei-custodialhist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* d */
#PreviewWindow tei-date[data-tei-when]:empty:before {
  content: attr(when);
}
#PreviewWindow tei-del {
  color: red;
}
/* e */
#PreviewWindow tei-editionstmt {
  display:block;
}
teieg-egxml {
  display: block;
  font-size: 80%;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #aaaaaa;
  margin-top: .75em;
  margin-bottom: .75em;
  padding-top: .75em;
  padding-bottom: .75em;
  font-family: monospace;
  white-space: pre;
}
#PreviewWindow tei-emph {
  font-style: italic;
}
#PreviewWindow tei-encodingdesc {
  display: none;
}
#PreviewWindow tei-epigraph {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
#PreviewWindow tei-explicit {
  font-style: italic;
}
#PreviewWindow tei-filedesc > tei-extent {
  display: none;
}
/* f */
#PreviewWindow tei-figure {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* g */
#PreviewWindow tei-gap[data-tei-reason='lost']:before {
  content:'[';
}
#PreviewWindow tei-gap[data-tei-reason='lost']:after {
  content: attr(data-content) ']';
}
#PreviewWindow tei-gap[data-tei-reason='illegible']:after {
  content: attr(data-content);
}
#PreviewWindow tei-gi {
  font-family: Courier,monospace;
}
tei-gi:before {
  content: "<";
}
#PreviewWindow tei-gi:after {
  content: ">";
}
/* h */
#PreviewWindow tei-head {
  display: block;
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.5rem;
}
#PreviewWindow tei-body > tei-head {
  font-size: 180%;
  text-indent: -0.5em;
}
#PreviewWindow tei-div.textpart {
  display: none;
}
#PreviewWindow tei-div > tei-head {
  font-size: 170%;
  text-indent: -0.5em;
}
#PreviewWindow tei-div > tei-div > tei-head {
  font-size: 155%;
}
#PreviewWindow tei-div > tei-div > tei-div > tei-head {
  font-size: 140%;
}
#PreviewWindow tei-div > tei-div > tei-div > tei-div > tei-head, list > tei-head {
  font-size: 130%;
}
#PreviewWindow tei-div > tei-div > tei-div > tei-div > tei-div > tei-head {
  font-size: 120%;
}
#PreviewWindow tei-div > tei-div > tei-div > tei-div > tei-div > tei-div tei-head {
  font-size: 110%;
}
#PreviewWindow tei-figure > tei-head {
  display: block;
  margin: 1.5em auto 1.5em auto;
  padding: .5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #aaaaaa;
  background: #fafafa;
  /* reset text-indent for note with <l> ancestors. */
  text-indent: 0;
  font-size: 85%;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  width: 85%;
  font-family: Georgia, Serif;
  font-size: 13pt;
}
#PreviewWindow tei-hi[rend~="caps"] {
  font-weight:bold;
}
#PreviewWindow tei-hi[rend~="italic"] {
  font-style: italic;
}
#PreviewWindow tei-hi[rend~="underline"] {
  text-decoration: underline;
}
#PreviewWindow tei-ident {
  font-family: Courier,monospace;
}
#PreviewWindow tei-incipit {
  font-style: italic;
}
#PreviewWindow tei-item {
  display: list-item;
  margin-left: 1em;
}
#PreviewWindow tei-cell item {
  margin-left: 1em;
}

/* j */

/* l */
#PreviewWindow tei-l {
  display: block;
  width: 35em;
}
#PreviewWindow tei-l[data-lineno]:before {
  content: attr(data-lineno);
  position: absolute;
  left: 2em;
}
#PreviewWindow tei-lb:after {
  content: '\a';
  white-space: pre;
}
#PreviewWindow tei-lg {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
#PreviewWindow tei-list {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  list-style-type: none;
}
#PreviewWindow tei-item > tei-list {
  margin-top: 0;
}
#PreviewWindow tei-sourcedesc tei-list {
  list-style-type: none;
}
#PreviewWindow tei-sourcedesc > tei-list > tei-head {
  font-size: 140%;
  font-weight: bold;
}
#PreviewWindow tei-sourcedesc tei-list > tei-item {
  display: list-item;
}
/* Match only lists that are descendants of
tei-text. Otherwise they show up in the header. */
#PreviewWindow tei-text tei-list[type=simple] {
  list-style-type: none;
}
#PreviewWindow tei-text tei-list[type=bulleted] {
  list-style-type: disc;
}
#PreviewWindow tei-text tei-list[type=ordered] {
  list-style-type: none;
  counter-reset: items 0;
}
#PreviewWindow tei-text tei-list[type=ordered] > tei-item {
  display: list-item;
  margin-left: 0;
}
#PreviewWindow tei-item > tei-list[type=ordered] {
  margin-left: 1em;
}
#PreviewWindow tei-text tei-list[type=ordered] > item:before {
  counter-increment: items 1;
  content: counter(items, decimal) ". ";
}
#PreviewWindow tei-text tei-list[type=gloss] {
  list-style-type: none;
}
#PreviewWindow tei-list[type="gloss"] > tei-label {
  display: block;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-weight: bold;
}
#PreviewWindow tei-list[type="gloss"] > tei-item {
  margin-left: 2em;
}
#PreviewWindow tei-item > tei-list[type=ordered] {
  margin-left: 1em;
}
#PreviewWindow tei-listapp {
  display: block;
  margin: 1em;
  padding: 1em;
}
#PreviewWindow tei-listbibl {
  display:block;
  list-style-type: none;
  margin-left: .5 em;
  margin-top: .5em;
}
#PreviewWindow tei-listbibl > tei-head {
  font-size: 120%;
  font-weight: bold;
}
#PreviewWindow tei-listbibl > tei-bibl {
  display: list-item;
  margin-left: .5em;
}
#PreviewWindow tei-listwit {
  display:block;
  list-style-type: none;
  margin-left: .5em;
}
#PreviewWindow tei-listwit > tei-head {
  font-size: 120%;
  font-weight: bold;
}
#PreviewWindow tei-listwit > tei-witness {
  display: list-item;
  margin-left: 2em;
  text-indent: -1.1em;
}
#PreviewWindow tei-witness > tei-listwit {
  display: inline;
}
#PreviewWindow tei-witness > tei-listwit > tei-head {
  display: inline;
}
#PreviewWindow tei-witness > tei-listwit > tei-witness {
  display: inline;
}
#PreviewWindow tei-locus {
  display: none;
}

/* m */
#PreviewWindow tei-milestone {
  display: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#PreviewWindow tei-musicNotation {
  font-weight: bold;
}
#PreviewWindow tei-musicNotation:before {
  font-weight: bold;
  content: "Musical Notation: ";
}
/* n */
#PreviewWindow tei-node {
  display: none;
}
#PreviewWindow tei-note {
  display: none;
}
#PreviewWindow tei-notesstmt {
  display: none;
}
/* o */
#PreviewWindow tei-ovar {
  font-style: italic;
}
#PreviewWindow tei-origPlace {
  font-weight: bold;
}
#PreviewWindow tei-origPlace:before {
  font-weight: bold;
  content: "Place of Origin: ";
}

/* p */
#PreviewWindow tei-p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: justify;
}
*[data-tei-rendition~="#center"] p {
  text-align: center;
}
#PreviewWindow tei-availability > p:first-child {
  margin-top: 0em;
}
#PreviewWindow tei-performance {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
#PreviewWindow tei-person {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
#PreviewWindow tei-personGrp {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
#PreviewWindow tei-postscript {
  display: block;
  margin-top: 2em;
}
#PreviewWindow tei-principal {
  font-weight: bold;
}
#PreviewWindow tei-principal:before {
  font-weight: bold;
  content: "Principal: ";
}
#PreviewWindow tei-profiledesc {
  display: none;
}
#PreviewWindow tei-publicationstmt > * {
  display: none;
}
#PreviewWindow tei-publicationstmt {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
#PreviewWindow tei-publicationstmt > date {
  display: none;
}
#PreviewWindow tei-publicationstmt > publisher {
  display: none;
}

/* q */
#PreviewWindow tei-q {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
#PreviewWindow tei-q:before {
  content: "";
}
#PreviewWindow tei-q:after {
  content: "";
}
#PreviewWindow tei-q[data-tei-next]:after {
  content: "" !important;
}
#PreviewWindow tei-q[data-tei-prev]:before {
  content: "" !important;
}
#PreviewWindow tei-quote {
  font-style:italic;
}

/* r */
#PreviewWindow tei-app tei-rdg {
  /*perhaps choice */
  display:none;
}
#PreviewWindow tei-re {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
#PreviewWindow tei-recordhist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
#PreviewWindow tei-ref {
  color: #5f0000;
}
#PreviewWindow tei-remarks {
  font-weight: bold;
}
#PreviewWindow tei-remarks:before {
  font-weight: bold;
  content: "remarks: ";
}
#PreviewWindow tei-respstmt {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
#PreviewWindow tei-revisiondesc {
  display: none;
}
#PreviewWindow tei-row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

/* s */
#PreviewWindow tei-salute {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
#PreviewWindow tei-samplingdecl {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
#PreviewWindow tei-scriptnote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
#PreviewWindow tei-seal {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
#PreviewWindow tei-seal:before {
  font-weight: bold;
  content: "Seal: ";
}
#PreviewWindow tei-sealdesc {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
#PreviewWindow tei-secFol:before {
  font-weight: bold;
  content: "Second Folio: ";
}
#PreviewWindow tei-secl>*:first-child:before {
  content: "\a[";
  white-space: pre;
}
#PreviewWindow tei-secl>*:last-child:after {
  content: "]\a\a";
  white-space: pre;
}
#PreviewWindow tei-seg {
  outline: 0px solid transparent;
}
#PreviewWindow tei-sense {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
#PreviewWindow tei-seriesstmt {
  display: none;
}
#PreviewWindow tei-setting {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
#PreviewWindow tei-signed {
  display: block;
  margin-top: 2em;
}
#PreviewWindow tei-soCalled {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
#PreviewWindow tei-soCalled:before {
  content: open-quote;
}
#PreviewWindow tei-soCalled:after {
  content: close-quote;
}
#PreviewWindow tei-soCalled[data-tei-next]:after {
  content: "" !important;
}
#PreviewWindow tei-soCalled[data-tei-prev]:before {
  content: "" !important;
}
#PreviewWindow tei-sound {
  font-style: italic;
}
#PreviewWindow tei-source {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
#PreviewWindow tei-sourcedesc {
  display: none;
}
#PreviewWindow tei-space:before {
  font-weight: bold;
  content: "";
}
#PreviewWindow tei-span[data-tei-data-n]:before {
  content: attr(data-n);
}
#PreviewWindow tei-speaker {
  font-weight: bold;
  margin-right: 0;
}
#PreviewWindow tei-sponsor {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
#PreviewWindow tei-sponsor:before {
  font-weight: bold;
  content: "Sponsor:";
}
#PreviewWindow tei-stage {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-style: italic;
}
#PreviewWindow tei-stamp {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
#PreviewWindow tei-stamp:before {
  font-weight: bold;
  content: "Stamped: ";
}

#PreviewWindow tei-surplus>*:first-child:before {
  content: "\a[";
  white-space: pre;
}
#PreviewWindow tei-surplus>*:last-child:after {
  content: "]\a\a";
  white-space: pre;
}
/* t */
#PreviewWindow tei-tei {
  display: block;
}
#PreviewWindow tei-table {
  display: block;
  border-top: thin solid black;
  border-left: thin solid black;
}
#PreviewWindow tei-table {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 12pt;
}
#PreviewWindow tei-table > tei-head {
  border-bottom: thin solid black;
  border-right: thin solid black;
  font-size: 120%;
  font-weight: bold;
  padding: 2px;
  text-align: center;
}
#PreviewWindow tei-teiheader {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
}
#PreviewWindow tei-tei > tei-text {
  display: block;
  line-height: 1.5;
}
#PreviewWindow tei-textclass {
  display: none;
}
#PreviewWindow tei-textdesc {
  display: none;
}
/* title */
#PreviewWindow tei-tei tei-title {
  display: inline;
}
#PreviewWindow tei-tei tei-title[level=a] {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
#PreviewWindow tei-tei tei-title[level=a]:before {
  content: open-quote;
}
#PreviewWindow tei-tei tei-title[level=a]:after {
  content: close-quote;
}
#PreviewWindow tei-tei tei-title[level=a][next]:after {
  content: "" !important;
}
#PreviewWindow tei-tei tei-title[level=a][prev]:before {
  content: "" !important;
}
#PreviewWindow tei-title[level=m] {
  font-style: italic;
}
#PreviewWindow tei-titlestmt > tei-title {
  display: block;
  font-family: Arvo, sans-serif;
  font-weight: normal;
  font-weight: bold !important;
  font-size: 150%;
}
#PreviewWindow tei-typedesc {
  display: none;
}
/* u */
#PreviewWindow tei-u:before {
  content: "-";
}
#PreviewWindow tei-view {
  font-style: italic;
}
#PreviewWindow tei-wit {
  display: inline;
}
#PreviewWindow tei-witdetail {
  display:none;
}
