#ProjectSidebar {
    background: #F3F6F8;
    height: 100%;
}

#ProjectSidebar .title-bar {
    padding: 10px;
}

#ProjectSidebar .project-title {
    padding: 10px;
    display: inline-block;
}

#ProjectSidebar .edit-button {
    padding-top: 10px;
    float: right;
}