#ProjectWindow .header {
    margin: 20px;
}

#ProjectWindow h1 {
    margin-bottom: 10px;
}

#ProjectWindow h2 {
    margin-bottom: 20px;
}

#ProjectWindow ul {
    list-style: none;
}

#ProjectWindow li {
    margin-bottom: 10px;
}

#ProjectWindow .content {
    display: flex;
    margin: 12px;
    background: #F8F5FF;
    padding: 5px;
    padding-top: 15px;
    border-radius: 10px;
}

#ProjectWindow .left-side {
    width: 40%;
    height: 300px;
    margin-top: 30px;
}

#ProjectWindow .right-side {
    width: 40%;
    height: 300px;
    padding-left: 20px;
    border-left: 3px solid gray;
}

#ProjectWindow button {
    background: white;
}

#ProjectWindow .version {
    margin: 20px;
}

#ProjectVersion .quit-button {
    float: right;
}