#ProjectNavigator {
    margin: 5px;
    margin-top: 10px;
}

#ProjectNavigator .open-resources {
    margin-left: 10px;
    display: inline-block;
}

#ProjectNavigator .tree-item-name {
    margin-left: 10px;
    display: inline-block;
    width: 100%;
}

#ProjectNavigator .tree-item {
    display: flex;
    margin-top: 5px;
}

#ProjectNavigator .tree-item-close {
    float: right;
}