#ProjectWindow {
    margin: 12px;
}

#ProjectWindow h1 {
    margin-bottom: 20px;
}

#ProjectWindow h2 {
    margin-bottom: 20px;
}

#ProjectWindow ul {
    list-style: none;
}

#ProjectWindow li {
    margin-bottom: 10px;5
}

#ProjectWindow .content {
    display: flex;
}

#ProjectWindow .left-side {
    width: 40%;
    height: 300px;
    margin-top: 20px;
}

#ProjectWindow .right-side {
    width: 40%;
    height: 300px;
    padding-left: 20px;
    border-left: 3px solid gray;
}