#ProjectSettingsWindow .title {
    background: #3787AA;
    color: white;
    padding: 10px;
    height: 42px;
}

#ProjectSettingsWindow .title h1 {
    padding-top: 5px;
}

#ProjectSettingsWindow .sidebar {
    padding-top: 50px;
    min-width: 200px;
    height: 100%;
    border-right: 1px solid gray;
    position: fixed;
    left: 0px;
}

#ProjectSettingsWindow .content-area {
    height: 100%;
    position: fixed;
    left: 200px;
}

#ProjectSettingsWindow .footer { 
    position: fixed;
    color: white;
    background: #3787AA;
    width: 100%;
    bottom: 0px;
    z-index: 800;
    padding: 10px; 
}

#ProjectSettingsWindow .window-actions-right {
    padding-right: 20px;
    float: right;
}

#ProjectSettingsWindow .window-actions-left {
    float: left;
}

#ProjectSettingsWindow .lock-icon {
    padding-right: 10px;
}

#ProjectSettingsWindow .action-button {
    margin-left: 10px;
}