#ProjectWindow .header {
    margin: 20px;
}

#ProjectWindow h1 {
    margin-bottom: 10px;
}

#ProjectWindow h2 {
    margin-bottom: 20px;
}

#ProjectWindow .left-action {
    margin-bottom: 10px;
}

#ProjectWindow .content {
    margin: 12px;
    background: #F8F5FF;
    padding: 5px;
    padding-top: 15px;
    border-radius: 10px;
}

#ProjectWindow .select-project {
    display: flex;
}

#ProjectWindow .recent-project-card {
    margin-bottom: 10px;
}

#ProjectWindow .new-project-form li {
    list-style: none;
}

#ProjectWindow .new-project-form h2 {
    margin-left: 15px;
}

#ProjectWindow .new-project-field {
    width: 300px;
    margin-bottom: 10px;
}

#ProjectWindow .instructions {
    margin-top: 30px;
}

#ProjectWindow .action-button {
    margin-right: 10px;
}

#ProjectWindow .browse-button {
    margin-top: 10px;
    margin-left: 10px;
}

#ProjectWindow .form-actions {
    margin-left: 520px;
    margin-bottom: 10px;
}

#ProjectWindow .left-side {
    width: 40%;
    margin-left: 15px;
    height: 350px;
}

#ProjectWindow .right-side {
    width: 40%;
    height: 350px;
    padding-left: 20px;
    border-left: 3px solid gray;
}

#ProjectWindow button {
    background: white;
}

#ProjectWindow .save-button-active {
    background: #1976d2;
    margin-right: 10px;
}

#ProjectWindow .version {
    margin: 20px;
}

#ProjectVersion .quit-button {
    float: right;
}