
#ResourceBrowser .titlebar {
    background: #D4C3FC;
    padding: 10px;
    height: 42px;
}

#ResourceBrowser .titlebar h1 {
    padding-top: 5px;
}

#ResourceBrowser .toolbar {
    margin: 10px;
}

#ResourceBrowser .toolbar-button {
    margin-right: 20px;
}


#ResourceBrowser .down-caret {
    margin-left: 5px;
}

#ResourceBrowser .table-container {
    height: calc(100vh - 160px);
}

#ResourceBrowser .home-link:hover {
    text-decoration: underline;
}