
#ResourceBrowser .toolbar {
    margin: 10px;
}

#ResourceBrowser .toolbar-button {
    margin-right: 20px;
}

#ResourceBrowser .right-button {
    float: right;
}

#ResourceBrowser .down-caret {
    margin-left: 5px;
}

#ResourceBrowser .table-container {
    height: calc(100vh - 215px);
}

#ResourceBrowser .deleted-resource {
    color: red;
    text-decoration: line-through;
}

#ResourceBrowser .deleted-icon {
    color: red;
}

#ResourceBrowser .inline-button-group {
    display: inline-block;
}