#SchemaEditor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: calc(100vw - 200px);
}

#SchemaEditor .top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid gray;
}

#SchemaEditor .top-left {
    padding: 10px;
    border-right: 1px solid gray;
    overflow-y: scroll;
    min-height: 45vw;
    max-height: 45vw;
}

#SchemaEditor .top-right {
    padding: 10px;
    overflow-y: scroll;
}

#SchemaEditor .bottom {
    padding: 5px;
    overflow-y: scroll;
}