#SchemaEditor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: calc(100vw - 200px);
}

#SchemaEditor .top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid gray;
}

#SchemaEditor .top-left {
    border-right: 1px solid gray;
    overflow-y: scroll;
    max-height: calc(100vh - 120px);
}

#SchemaEditor .top-right {
    overflow-y: scroll;
    max-height: calc(100vh - 120px);
}

#SchemaEditor .element-item {
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#SchemaEditor .selected-item {
    background-color: #FCFC01;
}

#SchemaEditor .element-icon {
    padding-right: 5px;
}