#SearchBar {
    display: inline-block;
}

#SearchBar .search-input {
    width: 250px;
    height: 30px;
    background: white;
    border: 2px solid #EAEAEA;
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

#SearchBar .search-button {
    display: inline-block;
}

#SearchBar .search-result-spinner {
    display: inline-block;
}