#SelectRemoteProjectPanel {
    margin: 12px;
    background: #F8F5FF;
    padding: 5px;
    padding-top: 15px;
    border-radius: 10px;
}

#SelectRemoteProjectPanel .project-card {
    margin: 10px;
    max-width: 33%;
    cursor: pointer;
}