
#SurfaceEditor .osd-viewer {
    height: calc( 100vh - 152px );
    width: 100%;
}

#SurfaceEditor .editor {
    background: #ccc;
}

.a9s-annotation.highlight .a9s-inner,
.a9s-annotation.highlight .a9s-outer {
  stroke-width:4;
  stroke:yellow;
}