#SurfaceEditor .osd-viewer {
  width: 100%;
}

#SurfaceEditor .full {
  width: calc( 100vh );
  height: calc( 100vh - 144px );
}

#SurfaceEditor .full-with-bar {
  width: calc( 100vh );
  height: calc( 100vh - 194px );
}

#SurfaceEditor .windowed {
  width: calc( 100vh );
  height: calc( 100vh - 89px );
}

#SurfaceEditor .editor {
    background: #ccc;
}

.a9s-annotation.highlight .a9s-inner,
.a9s-annotation.highlight .a9s-outer {
  stroke-width:4;
  stroke:yellow;
}