/* language support */
/* render Arabic, Persian, Ottoman, Hebrew  as rtl */
[lang = "ar"],
[lang = "ota"],
[lang = "fa"],
[lang = "he"],
[lang *="-Arab-AR"]{
    direction:rtl;
    text-align:right;
}
/* display latin scripts as ltr  */
[lang = "en"],
[lang = "fr"],
[lang = "de"],
[lang = "it"],
[lang *="ar-Latn-"],
[lang *="ota-Latn-"]{
    direction:ltr;
    text-align:left;
}

/* Phrase level markup styling is based on information layers */
[phraselvl = "true"] {
    border-bottom: dotted #0187a8;
}

[__error__ = "true"] {
    border-bottom: dotted red;
}

tei-div {
    display: block;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
}

textnode {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

tei-pb {
    margin-right: 3px;
    margin-left: 3px;
}  

tei-note {
    margin-right: 3px;
    margin-left: 3px;
}  

tei-del {
    color: red;
    text-decoration: line-through;
}

*[rendition~="simple:caps"] {
    text-transform: uppercase;
}
*[rendition~="simple:italic"] {
    font-style: italic;
}
*[rendition~="simple:bold"] {
    font-weight: bold;
}

.ProseMirror {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    line-height: 1.5em;
}
  