

.TEIEditor .body {
    display: flex;
    height: calc( 100% - 60px );
    overflow-y: scroll;
    position: fixed;
    min-width: calc( 100% - 12px);
}

.TEIEditor .dialogPlane {
    position: fixed;
    top: 70px;
    left: 30px;
    width: 80%;
}

.TEIEditor .dialogPlaneNote {
    position: fixed;
    bottom: 0px;
    margin-bottom: 5px;
    left: 30px;
    width: 80%;
}

.save-button {
    background: '#FAFAFA';
    float: right;
}

.draggable {
    -webkit-app-region: drag
}