#TitleBar {
    background: #3787AA;
    height: 50px;
}

#TitleBar .home-icon {
    margin-top: -5px;
    color: white;
}

#TitleBar .breadcrumbs {
    display: inline-block;
    margin-top: 10px;
    color: white;
}

#TitleBar .nav-link:hover {
    text-decoration: underline;
}

#TitleBar .image-icon-padding {
    padding-left: 15px;
}