#ZonePopup {
    z-index: 1000;
}

#ZonePopup .zoneEditor  {
    max-width: 400px;
}

#ZonePopup .zoneActions {
    float: right;
}

#ZonePopup .zone-id  {
    margin-top: -20px;
    margin-left: 15px;
}
