#ZonePopup {
    z-index: 1000;
}

#ZonePopup .zoneEditor  {
    max-width: 420px;
}

#ZonePopup .zoneActions {
    float: right;
}

#ZonePopup .zone-action {
    margin-right: 5px;
}

#ZonePopup .zone-id  {
    margin-top: -20px;
    margin-left: 15px;
}
