#EditorToolbar {
    border: 2px solid #EAEAEA;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

#EditorToolbar .leftgroup {
    display: inline-block;
}

#EditorToolbar .rightgroup {
    display: inline-block;
}

@media (min-width: 1050px) {
    #EditorToolbar .rightgroup {
        float: right;
    }    
}

#EditorToolbar .selected-action {
    color: rgb(101, 177, 210);
}

#EditorToolbar button {
    -webkit-app-region: no-drag;
}

#EditorToolbar .seperator {
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}

#EditorToolbar .line {
    border-left: 3px solid #ccc;
    height: 20px;
    margin-bottom: -5px;
    display: inline-block;
}