#GeneralSettings {
    margin: 50px;
}

#GeneralSettings .actions {
    margin-top: 20px;
}


#GeneralSettings .action {
    margin-right: 10px;
}

#GeneralSettings .name-field {
    margin-top: 20px;
}

#GeneralSettings .info {
    margin-top: 20px;
    margin-bottom: 20px;
}

#GeneralSettings .permissions-section {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

#GeneralSettings .permissions-section ul {
    list-style: none;
}