#ImportConsoleDialog .import-console {
    background: #ccc;
    border: 1px solid gray;
    color: black;
    overflow-y: auto;
    width: 500px;
    height: 400px;
    padding: 15px;
    font-family: 'Courier New', monospace;
}

#ImportConsoleDialog .spinner {
    display: inline;
    margin-left: 12px;
    width: 24px;
    height: 24px;
}