#LoginPanel {
    margin: 12px;
    background: #F8F5FF;
    padding: 5px;
    padding-top: 15px;
    border-radius: 10px;
}

#LoginPanel li {
    list-style: none;
}

#LoginPanel h2 {
    margin-left: 15px;
}

#LoginPanel .login-field {
    width: 300px;
    margin-bottom: 10px;
}

#LoginPanel .form-actions {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 80px;
    display: flex;
    gap: 10px;
}

#LoginPanel .login-button-active {
    background: #1976d2;
}