
#MainWindowStatusBar { 
    position: fixed;
    color: white;
    background: #3787AA;
    width: 100%;
    bottom: 0px;
    z-index: 800;
    padding: 10px; 
}

#MainWindowStatusBar .version-button {
    margin-right: 20px;
    float: right;
}

#MainWindowStatusBar .version-button i {
    margin-right: 5px;
}

#MainWindowStatusBar .feedback-button {
    margin-top: 5px;
    float: right;
}

