#PreviewWindow #reading-view {
  display: flex;
  width: calc( 100% - 100px );
  height: calc( 100% - 100px );
  overflow-y: scroll;
  position: fixed;
  background: white;
  padding: 50px;
  border-left: 3px solid #ddf8ff
}

#PreviewWindow .toolbar {
  margin-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bbb;
}