#ProjectSidebar {
    background: #F3F6F8;
    overflow-y: auto;
    height: calc( 100vh - 50px);
    grid-area: project_sidebar;
}

#ProjectSidebar .title-bar {
    padding: 12px;
}

#ProjectSidebar .project-title {
    display: inline-block;
}

#ProjectSidebar .edit-button {
    margin-top: 10px;
    float: right;
}

#ProjectSidebar .action-button {
    margin-left: 5px;
    margin-top: -8px;
}