#ReleaseNotesDialog .notes {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

#ReleaseNotesDialog .notes p {
    font-weight: 400;
    line-height: 1.43;
}

#ReleaseNotesDialog .notes li {
    font-weight: 400;
    line-height: 1.8;
}

#ReleaseNotesDialog .notes h1 {
    font-weight: 500;
    font-size: 1.25;
    line-height: 1.43;
}

#ReleaseNotesDialog .notes h2 {
    font-weight: 500;
    font-size: 1.25;
    line-height: 1.43;
}