#TitleBar {
    background: #43639D;
    height: 50px;
    padding: 0 16px 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#TitleBar .title-bar-left {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#TitleBar .home-icon {
    color: white;
}

#TitleBar .breadcrumbs {
    display: inline-block;
    color: white;
}

#TitleBar .nav-link:hover {
    text-decoration: underline;
}

#TitleBar .image-icon-padding {
    padding-left: 15px;
}